.main-icon {
  color: #0a66c2;
  display: flex;
  align-items: center;
}

svg {
  height: 25px;
  width: 25px;
  /* height: 34px;
  width: 34px; */
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
}

p {
  font-size: 12px;
  padding-top: -99px;
}
