.follow-button-top-right-component {
  width: 97px;
  height: 32px;
  border-radius: 20px;
  border: 1px solid gray;
  background-color: #fff;
}

.plus-icon-top-left-component {
  padding-right: 4px;
}
