.add-to-your-feed-top-right-component {
  font-size: 16px;
  padding-bottom: 10px;
}

.top-right-component-container {
  background-color: #fff;
  border-radius: 10px;
  padding-left: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
}
